################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Local_ThisPC_song_search_ALL/obj
/Local_ThisPC_song_search_ALL/bin/Debug/net6.0-windows/本地音乐.ini
/Local_ThisPC_song_search_YouSelect/obj
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/obj
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/runtimes
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/MoZhiMusicPlayer_GithubAuthor_XiangCheng.runtimeconfig.json
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/MoZhiMusicPlayer_GithubAuthor_XiangCheng.pdb
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/MoZhiMusicPlayer_GithubAuthor_XiangCheng.exe
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/MoZhiMusicPlayer_GithubAuthor_XiangCheng.dll
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/MoZhiMusicPlayer_GithubAuthor_XiangCheng.deps.json
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/Magick.NET.Core.dll
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows/Magick.NET-Q16-AnyCPU.dll
/.vs/MoZhiMusicPlayer_GithubUrl_super-badmen-viper.github.io/FileContentIndex
/Local_ThisPC_song_search_ALL/bin/Debug/net6.0-windows
/Local_ThisPC_song_search_YouSelect/bin/Debug/net6.0-windows
