################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Local_ThisPC_song_search_ALL/obj
/Local_ThisPC_song_search_ALL/bin/Debug/net6.0-windows/本地音乐.ini
/Local_ThisPC_song_search_YouSelect/obj
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/obj
/MoZhiMusicPlayer_GithubAuthor_XiangCheng/bin/Debug/net6.0-windows
