################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/墨智音乐_3.0.1/bin/Debug/墨智音乐_3.0.1.exe
/墨智音乐_3.0.1/bin/Debug/墨智音乐_3.0.1.pdb
/墨智音乐_3.0.1/bin/Debug/墨智音乐_3.0.1.exe.config
/墨智音乐_3.0.1/bin/Debug/Newtonsoft.Json.xml
/墨智音乐_3.0.1/bin/Debug/Newtonsoft.Json.dll
/墨智音乐_3.0.1/bin/Debug/Magick.NET.Core.xml
/墨智音乐_3.0.1/bin/Debug/Magick.NET.Core.dll
/墨智音乐_3.0.1/bin/Debug/Magick.NET-Q16-AnyCPU.xml
/墨智音乐_3.0.1/bin/Debug/Magick.NET-Q16-AnyCPU.dll
