::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #88888850;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #88888880;
}

.n-button {
  cursor: pointer;
  transition: all 0.2s ease;
}
.n-button:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}
.n-select {
  cursor: pointer;
  transition: all 0.2s ease;
}
.n-select:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}
.n-rate {
  cursor: pointer;
  transition: all 0.2s ease;
}
.n-rate:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

.RateCustom.viaSlot .icon {
  width: 15px;
  height: 25px;
  margin: 0;
}
.Rate.viaSlot .Rate__star {
  width: 25px;
  height: 25px;
}
.Rate.viaSlot {
  cursor: pointer;
  transition: all 0.2s ease;
}
.Rate.viaSlot:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
}

.vue-recycle-scroller__slot {
  margin-top: -10px;
}
.vue-recycle-scroller__item-wrapper {
  height: 100%;
}