<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="12.1.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="12.1.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
</packages>